// --------COLORS----------
$text-color: #17c6bb;
$theme-color: #3e53e0;
$secondary-color: rgb(244, 165, 46);
$ternary-color: rgb(154, 246, 81);
$link-color: $secondary-color;
$menu-item-color: white;

// --------FONTS----------
$text-font: Verdana, Arial, sans-serif;
$headline-font: 'Palation Linotype', Georgia, serif;

// --------SIZES----------
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;
